<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <img src="{{ url_for('static',filename='1.jpg') }}"></img>

        {% comment %} {% for user in users %}
        <li><a href="{{user.url}}">{{user.username}}</a></li>
        {% endfor %} {% endcomment %}

       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint tenetur provident expedita, rem corrupti minus autem facilis amet possimus nostrum placeat dolor saepe ab quo necessitatibus officia dignissimos? Eum, laborum.
       </p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum adipisci animi dolorum molestias placeat. Eveniet voluptatibus odit expedita illo quas.</p>
        
        <!-- <script src="" async defer></script> -->
    </body>
</html>